@import "tailwindcss";

@theme {
    --color-primary: #2563eb;
    --color-primary-light: #3b82f6;
    --color-primary-dark: #1d4ed8;

    --color-secondary: #475569;
    --color-secondary-light: #64748b;
    --color-secondary-dark: #334155;

    --color-accent: #6366f1;
    --color-background: #f8fafc;
    --color-background-alt: #f1f5f9;
    --color-background-dark: #1e293b;
    --color-text: #1e293b;
    --color-text-light: #475569;
    
    --color-headline: #1e293b;
    

    --text-h1: clamp(2rem, 5vw + 1rem, 4rem);
    --text-h2: clamp(1.5rem, 4vw + 0.5rem, 2.5rem);
    --text-h3: clamp(1.25rem, 3vw + 0.25rem, 2rem);
    --text-h4: clamp(1rem, 2vw + 0.125rem, 1.5rem);
    --text-h5: clamp(0.875rem, 1.5vw + 0.0625rem, 1.25rem);
    --text-h6: clamp(0.75rem, 1.2vw + 0.03125rem, 1rem);

    --text-article-h1: clamp(2rem, 5vw + 1rem, 4rem);
    --text-article-h2: clamp(1.5rem, 4vw + 0.5rem, 2.25rem);
    --text-article-h3: clamp(1.25rem, 3vw + 0.25rem, 1.75rem);
    --text-article-h4: clamp(1rem, 2vw + 0.125rem, 1.35rem);
    --text-article-h5: clamp(0.875rem, 1.5vw + 0.0625rem, 1.15rem);
    --text-article-h6: clamp(0.75rem, 1.2vw + 0.03125rem, 0.9rem);
    --text-article-h6: clamp(0.75rem, 1.2vw + 0.03125rem, 0.9rem);
    
    --text-xsmall: 0.75rem;
    --text-small: 1rem;
    --text-base: 1.25rem;
    --text-large: 1.5rem;
    --text-xlarge: 2rem;

    --spacing-small: 6rem;
    --spacing-base: 8rem;
    --spacing-large: 10rem;
    
    --container-small: 1000px;
    --container-base: 1400px;

    --border-radius-small: 0.5rem;
    --border-radius-base: 1rem;
    --border-radius-large: 2rem;
    
    --font-bruno-ace: 'Bruno Ace SC', sans-serif;
    --font-noto-sans-kr: "Noto Sans KR", sans-serif;
    --font-base: 'Noto Sans KR', sans-serif;
    --font-logo: 'Bruno Ace SC', sans-serif;
    --font-headline: 'Noto Sans KR', sans-serif;
}



@layer components {
    html { font-size: 16px; }
    body { background-color: var(--color-background); font-size: var(--text-base); font-family: var(--font-base); font-weight: 400;}
    h1 { font-size: var(--text-h1); font-family: var(--font-headline); font-weight: 500 ;}
    h2 { font-size: var(--text-h2); font-family: var(--font-headline); font-weight: 500 ;}
    h3 { font-size: var(--text-h3); font-family: var(--font-headline); font-weight: 500 ;}
    h4 { font-size: var(--text-h4); font-family: var(--font-headline); font-weight: 500 ;}
    h5 { font-size: var(--text-h5); font-family: var(--font-headline); font-weight: 500 ;}
    h6 { font-size: var(--text-h6); font-family: var(--font-headline); font-weight: 500 ;}
    a { color: var(--color-primary); }
    p { color: var(--color-text); }
    article h1 { font-size: var(--text-article-h1); margin: 0 0 2rem}
    article h2 { font-size: var(--text-article-h2); margin: 0 0 2rem}
    article h3 { font-size: var(--text-article-h3); margin: 0 0 1.75rem}
    article h4 { font-size: var(--text-article-h4); margin: 0 0 1.5rem}
    article h5 { font-size: var(--text-article-h5); margin: 0 0 1.25rem}
    article h6 { font-size: var(--text-article-h6); margin: 0 0 1rem}
    article p { font-size: var(--text-base); margin: 0 0 1.75rem; line-height: 1.8;}
    article ol { font-size: var(--text-base); margin: 0 0 2rem; padding-left: 2rem; list-style-type: decimal; }
    article ol ::marker { color: var(--color-primary); }
    article ul { font-size: var(--text-base); margin: 0 0 2rem; padding-left: 2rem; list-style-type: disc; }
    article ul ::marker { color: var(--color-primary); }
    article blockquote { font-size: var(--text-base); margin: 0 0 1.75rem; padding-left: 2rem; border-left: 4px solid var(--color-primary); }
}
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

[x-cloak] {
    display: none !important;
}

.site-container {
    @apply mx-auto max-w-[var(--container-base)] w-full;
}
.site-container--small {
    @apply mx-auto max-w-[var(--container-small)] w-full;
}

.header-offset{
    @apply pt-24;
}

.hero-background-2 {

        --s: 34px;
        /* control the size*/
        --c1: var(--color-primary);
        --c2: var(--color-primary-dark);

        --_g:
        var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%, var(--c1) 36% 45%,
        var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%, var(--c1) 76% 85%, var(--c2) 86% 95%,
        #0000 96%;
        background:
            radial-gradient(50% 50% at 100% 0, var(--_g)),
            radial-gradient(50% 50% at 0 100%, var(--_g)),
            radial-gradient(50% 50%, var(--_g)),
            radial-gradient(50% 50%, var(--_g)) calc(var(--s)/2) calc(var(--s)/2) var(--c1);
        background-size: var(--s) var(--s);
    
}

.hero-background {
    --s: 34px;
    /* control the size*/
    --c1: #6366f1;
    --c2: #595ce3;

    --_g:
        var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%, var(--c1) 36% 45%,
        var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%, var(--c1) 76% 85%, var(--c2) 86% 95%,
        #0000 96%;
    background:
        radial-gradient(50% 50% at 100% 0, var(--_g)),
        radial-gradient(50% 50% at 0 100%, var(--_g)),
        radial-gradient(50% 50%, var(--_g)),
        radial-gradient(50% 50%, var(--_g)) calc(var(--s)/2) calc(var(--s)/2) var(--c1);
    background-size: var(--s) var(--s);
}