---
import { Image } from 'astro:assets';

interface HeroContent {
    title: string;
    description: string;
    backgroundImage?: any;
    overlayOpacity?: number; // Value between 0 and 1
}

interface Props {
    heroContent: HeroContent;
}

const { heroContent } = Astro.props;
const opacity = heroContent.overlayOpacity ?? 1;
---

<section class="w-full border-b pt-38 pb-18 relative">
    <div class="absolute inset-0 left-0 top-0 w-full h-full overflow-hidden">
            {heroContent.backgroundImage && (
                <Image 
                    src={heroContent.backgroundImage}
                    alt="Background image"
                    width={1920}
                    height={1080}
                    class="w-full h-full object-cover"
                    quality={70}
                    format="webp"
                />
            )}
            <div 
                class="hero-background absolute inset-0 left-0 top-0 w-full h-full overflow-hidden" 
                style={`opacity: ${opacity};`}
            ></div>
        </div>

    <div class="site-container mx-auto px-4 relative z-10">
        <div>
            <h1 class="text-white" data-aos="fade-up">{heroContent.title}</h1>
            {heroContent.description && <p class="subtitle text-white" data-aos="fade-up" data-aos-delay="100">{heroContent.description}</p>}
        </div>
    </div>
</section>
