---
import type { Logo } from '../../data/logos';
import { getPaddingClass, getBackgroundColor, getHeadlineColor } from '../../utils/styleUtils';
import type { PaddingSize, ThemeColor } from '../../utils/styleUtils';

export interface Props {
    logosContent: {
        eyebrow?: string;
        headline?: string;
        subheadline?: string;
        logos: Logo[];
    };
    background?: ThemeColor;
    padding?: PaddingSize;
    paddingTop?: PaddingSize;
    paddingBottom?: PaddingSize;
}

const {
    logosContent: { headline, logos },
    background = 'white'
} = Astro.props;

const bgColor = getBackgroundColor(background);
const paddingClass = getPaddingClass({ 
    padding: Astro.props.padding,
    paddingTop: Astro.props.paddingTop,
    paddingBottom: Astro.props.paddingBottom 
});

const headlineColor = getHeadlineColor(background);
---

<section class:list={["relative", bgColor, paddingClass]}>
    <div class="site-container px-4 text-center">
        {headline && (
            <div class="mb-5">
                <h2 class:list={["text-h6 uppercase", headlineColor]}>{headline}</h2>
            </div>
        )}
        <div class="flex flex-wrap justify-center gap-16">
            {logos.map((logo, index) => (
                <div 
                    class="logo-wrapper flex justify-center items-center w-32 h-20"
                    data-aos="fade-up"
                    data-aos-delay={index * 100}
                >
                <img 
                    src={logo.src} 
                    alt={logo.alt}
                    class="h-8 md:h-10 w-auto transition-all duration-300 object-contain object-center filter grayscale hover:grayscale-0 opacity-75 hover:opacity-100"
                    loading="lazy"
                />
                </div>
            ))}
        </div>
    </div>
</section>
