---
import type { Logo } from '@data/logos';
import Eyebrow from '@components/ui/Eyebrow.astro';
import { Image } from 'astro:assets';
import { getPaddingClass, getBackgroundColor } from '@utils/styleUtils';
import type { PaddingSize, ThemeColor } from '@utils/styleUtils';

export interface Props {
    content: {
        eyebrow?: string;
        headline?: string;
        subheadline?: string;
        logos: Logo[];
    };
    background?: ThemeColor;
    padding?: PaddingSize;
    paddingTop?: PaddingSize;
    paddingBottom?: PaddingSize;
}

const {
    content: { eyebrow, headline, subheadline, logos },
    background = 'base'
} = Astro.props;

const bgColor = getBackgroundColor(background);
const paddingClass = getPaddingClass({ 
    padding: Astro.props.padding,
    paddingTop: Astro.props.paddingTop,
    paddingBottom: Astro.props.paddingBottom 
});

---

<section class:list={["relative", bgColor, paddingClass]}>
    <div class="site-container px-4 text-center">
        {eyebrow && (
            <Eyebrow 
                text={eyebrow} 
                background={background} 
                className="text-center"
            />
        )}
        <div class="flex flex-wrap justify-center gap-16">
            {logos.map((logo, index) => (
                <div 
                    class="logo-wrapper flex justify-center items-center w-32 h-20"
                    data-aos="fade-up"
                    data-aos-delay={index * 100}
                >
                    <Image 
                        src={logo.src} 
                        alt={logo.alt}
                        class="h-8 md:h-10 w-auto transition-all duration-300 object-contain object-center filter grayscale hover:grayscale-0 opacity-75 hover:opacity-100"
                        width={200}
                        height={80}
                    />
                </div>
            ))}
        </div>
    </div>
</section>
