---
import { Image } from 'astro:assets';
import logo from '@assets/astro.svg';

interface Props {
    variant?: 'light' | 'dark';
}

const { variant = 'dark' } = Astro.props;
---
<a href="/" class:list={[
    'logo uppercase font-logo transition-colors duration-200 font-light',
    variant === 'light' ? 'text-white hover:text-primary' : 'text-body-base hover:text-primary'
]}>
    <Image src={logo} alt="Logo" class="hidden"/>
    <span class="font-bold">Titan</span> Core
</a>
