---
import Button from "../ui/Button.astro";
import Input from "../ui/form/Input.astro";
import Textarea from "../ui/form/Textarea.astro";
---
<form class="max-w-2xl mx-auto p-6 space-y-6">
    <Input
        label="Name"
        id="name"
        name="name"
        required
    />
    <Input
        label="Email"
        type="email"
        id="email"
        name="email"
        required
    />
    <Input
        label="Phone"
        type="tel"
        id="phone"
        name="phone"
    />
    <Input
        label="Company"
        id="company"
        name="company"
    />
    <Textarea
        label="Message"
        id="message"
        name="message"
        required
    />
    <div class="mt-6">
        <Button>Submit</Button>
    </div>
</form>
